<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481445661271-evtbkarml9forfmlkmacvfouj0sas1k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481445661271-evtbkarml9forfmlkmacvfouj0sas1k8</string>
	<key>API_KEY</key>
	<string>AIzaSyCMnaXc6zufdhiFv7PL-Uyq7jkEQ_YEBRY</string>
	<key>GCM_SENDER_ID</key>
	<string>481445661271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techtalk.dev</string>
	<key>PROJECT_ID</key>
	<string>techtalk-dev-33</string>
	<key>STORAGE_BUCKET</key>
	<string>techtalk-dev-33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481445661271:ios:debd85030f995e31a27112</string>
</dict>
</plist>