<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680296657690-p43ha52vgppgbf76dmgq7tmepnu270pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680296657690-p43ha52vgppgbf76dmgq7tmepnu270pj</string>
	<key>API_KEY</key>
	<string>AIzaSyAVOTSXn55Dfpmw7PnBieSpQRzNgsnBfkA</string>
	<key>GCM_SENDER_ID</key>
	<string>680296657690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techtalk</string>
	<key>PROJECT_ID</key>
	<string>techtalk-prod-32</string>
	<key>STORAGE_BUCKET</key>
	<string>techtalk-prod-32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680296657690:ios:7aea3588a2b3c4a083b2a3</string>
</dict>
</plist>